{% extends 'core/base.html' %}


{% block page_name%} Categoria {% endblock %}
{% block page_description %}
    {% if object.nombre %}
        <p>Editando la categoria: {{ object.nombre }}</p>
    {% else %}
        <p>Crear categoria</p>
    {% endif %}
{% endblock %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if object.nombre %}
            <button type="submit">Editar categoria</button>
        {% else %}
            <button type="submit">Crear categoria</button>
        {% endif %}
        <br><br>
            <a href="{% url 'listar_categoria' %}">Volver al listado de categorias</a>
    </form>
{% endblock %}
