{% extends 'core/base.html' %}


{% block page_name%} Adquisiciones {% endblock %}
{% block page_description %}Bienvenido al modulo de adquisiciones {% endblock %}

{% block custom_css %}
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
{% endblock %}


{% block content %}
    <table id="table-adquisiciones" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Categorias</th>
                <th>Cantidad</th>
                <th>Precio Compra</th>
                <th>Opciones</th>
            </tr>
        </thead>
    	<tbody>
    		{% if object_list %}
	    		{% for adquisicion in object_list %}
					<tr>
						<th>{{adquisicion.id}}</th>
		    			<th>{{adquisicion.id_cat.nombre}}</th>
		    			<th>{{adquisicion.cantidad}}</th>
		    			<th>{{adquisicion.precio_compra}}</th>
                        <th>
                            <a class="btn btn-primary" href="{% url 'adquisiciones_adquisiciones_update' adquisicion.id %}">Actualizar</a>
                            <a class="btn btn-danger" href="{% url 'adquisiciones_adquisiciones_delete' adquisicion.id %}">Borrar</a>
                        </th>
		    		</tr>
	    		{% endfor %}
    		{% else %}
				<h1>No hay registros de adquisiciones</h1>
    		{% endif %}
    	</tbody>
    </table>


    <a href="{% url 'adquisiciones_adquisiciones_create' %}">
        <button class="btn btn-success">Crear</button>
    </a>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


    <script>
        $(document).ready( function () {
            $('#table-adquisiciones').DataTable();
        } );
    </script>
{% endblock %}