{% extends 'core/base.html' %}


{% block page_name%} Contabilidad {% endblock %}
{% block page_description %}Bienvenido al modulo de adquisiciones {% endblock %}


{% block content %}
    <table class="table table-hover table-striped table-responsive">
    	<tbody>
    		<tr>
    			<th>#</th>
    			<th>Categorias</th>
    			<th>Cantidad</th>
    			<th>Precio Compra</th>
    		</tr>
    		{% if object_list %}
	    		{% for adquisicion in object_list %}
					<tr>
						<th>{{adquisicion.id}}</th>
		    			<th>{{adquisicion.id_cat.nombre}}</th>
		    			<th>{{adquisicion.cantidad}}</th>
		    			<th>{{adquisicion.precio_compra}}</th>
		    		</tr>
	    		{% endfor %}
    		{% else %}
				<h1>No hay registros de adquisiciones</h1>
    		{% endif %}
    	</tbody>
    </table>
{% endblock %}
