{% extends 'core/base.html' %}


{% block page_name%} Ingresos {% endblock %}
{% block page_description %}Bienvenido al modulo de adquisiciones {% endblock %}


{% block content %}
    <table class="table table-hover table-striped table-responsive">
    	<tbody>
    		<tr>
    			<th>#</th>
                <th>Adquisicion</th>
    			<th>Producto</th>
    			<th>Cantidad</th>
    			<th>Precio Compra</th>
                <th>Opciones</th>
    		</tr>
    		{% if object_list %}
	    		{% for ingreso in object_list %}
					<tr>
						<th>{{ingreso.id}}</th>
                        <th>{{ingreso.id_adq_id.id}}</th>
		    			<th>{{ingreso.id_prod_id.nombre}}</th>
		    			<th>{{ingreso.cantidad}}</th>
		    			<th>{{ingreso.precio_compra}}</th>
                        <th>
                            <a class="btn btn-primary" href="{% url 'adquisiciones_ingresos_update' ingreso.id %}">Actualizar</a>
                            <a class="btn btn-danger" href="{% url 'adquisiciones_ingresos_delete' ingreso.id %}">Borrar</a>
                        </th>
		    		</tr>
	    		{% endfor %}
    		{% else %}
				<h1>No hay registros de ingresos</h1>
    		{% endif %}
    	</tbody>
    </table>

    <a href="{% url 'adquisiciones_ingresos_create' %}">
        <button class="btn btn-success">Crear</button>
    </a>
{% endblock %}
