{% extends 'core/base.html' %}


{% block page_name%} Ingresos {% endblock %}
{% block page_description %}Bienvenido al modulo de adquisiciones {% endblock %}


{% block content %}
    <table class="table table-hover table-striped table-responsive">
    	<tbody>
    		<tr>
    			<th>#</th>
                <th>Adquisicion</th>
    			<th>Producto</th>
    			<th>Cantidad</th>
    			<th>Precio Compra</th>
    		</tr>
    		{% if object_list %}
	    		{% for ingreso in object_list %}
					<tr>
						<th>{{ingreso.id}}</th>
                        <th>{{ingreso.id_adq.id}}</th>
		    			<th>{{ingreso.id_prod.nombre}}</th>
		    			<th>{{ingreso.cantidad}}</th>
		    			<th>{{ingreso.precio_compra}}</th>
		    		</tr>
	    		{% endfor %}
    		{% else %}
				<h1>No hay registros de ingresos</h1>
    		{% endif %}
    	</tbody>
    </table>
{% endblock %}
